@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #e5e5e5;
}

model-viewer {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
}

.loading_screen_holder {
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
    color: bla;
    position: absolute;
    z-index: 10;

    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.main_screen_holder {
    height: 100vh;
    background-color: #b4d9ef;
}

.small_txt {
    color: grey;
    font-size: 16px;
}

.name {
    font-size: 145px;
    font-family: 'Yellowtail', cursive;
}

.name_2 {
    font-size: 145px;
    font-family: 'Yellowtail', cursive;
    line-height: 0;
    padding-bottom: 20px;
}

.main_img {
    width: 50%;
    clip-path: circle(50%);
}

.img_wrapper {
    position: relative;
    
    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.img_items {
    position: absolute;
    z-index: 1;
}

.hidden {
    display: none;
}

.space {
    padding-left: 70px;
    padding-right: 70px;
}

.skills_holder {
    display: flex;
    padding-top: 20px;
}

.flex_1 {
    flex: 1;
    padding-left: 40px;
}

.skill_card {
    padding: 20px;
}

.skill_img {
    height: 50px;
}

.skill_txt {
    font-size: 30px;
    padding-bottom: 5px;
    line-height: 0;
}

.loading_screen {
    display: flex;
    flex-direction: column;
}

.reload_holder {
    position: absolute;
    z-index: 10;
    top: 0;
    display: flex;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.nav_icons {
    width: 40px;
}

.nav_icons:hover {
    cursor: pointer;
}

.nav {
    height: 100vh;
    padding: 40px;
    line-height: 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav_bot {
    width: 70%;
    margin: 0 auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 25vh;
    padding: 40px;
    line-height: 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav_name {
    font-size: 40px;
    font-family: 'Yellowtail', cursive;
}

.nav_small_txt {
    font-size: 12px;
    padding-top: 35px;
    padding-left: 12px;
}

.nav_side_holder {
    position: absolute;
    z-index: 5;
    right: 0;
    top: 0;
    width: 30%;
}

.nav_bot_holder {
    position: absolute;
    z-index: 4;
    bottom: 0;
    width: 100%;
}

.nav_btn {
    padding: 15px;
    line-height: 0;

    border-radius: 25px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.close_btn {
    width: 50px;
}

.right {
    text-align: right;
    padding-bottom: 20px;
}

.nav_para {
    line-height: 1;
    padding-bottom: 20px;
    padding-top: 10px;
}



.footer_para {
    padding-top: 10px;
    line-height: 1;
}

.nav_btns {
    line-height: 1;
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 18px;

    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.nav_btns:hover {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 25px;
    transition: 400ms;
}

.btn_holder {
    display: flex;
    padding-bottom: 40px;
}

.nav_btns_2 {
    flex: 0.2;
}

.nav_btn_2 {
    height: 50px;
}

#hamburger {
    width: 50px;
    height: 20px;
    margin: 25px auto;
    cursor: pointer;
    top: 0;
    right: 25px;
    background-color: transparent;
    transform: scale(0.9);
}

#hamburger:hover span:nth-child(1) {
    top: -4px;
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .20s ease-in-out;
}

#hamburger:hover span:nth-child(3) {
    top: 34px;
    -webkit-transition: .16s ease-in-out;
    -moz-transition: .16s ease-in-out;
    -o-transition: .16s ease-in-out;
    transition: .16s ease-in-out;
}

#hamburger span {
    z-index: 3;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2) {
    top: 14px;
}

#hamburger span:nth-child(3) {
    top: 28px;
}

#hamburger.open span:nth-child(1) {
    top: 14px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#hamburger.open span:nth-child(2) {
    opacity: 0;
    left: -30px;
    -webkit-transition: .16s ease-in-out;
    -moz-transition: .16s ease-in-out;
    -o-transition: .16s ease-in-out;
    transition: .16s ease-in-out;
}

#hamburger.open span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#nav_side_holder {
    display: none;
}
    
#nav_bot_holder {
    //display: none;
}

.line_through {
    text-decoration: line-through;
}

.btn_icons {
    height: 15px;
    padding-right: 8px;
}

.restart_btn {
    background: rgba(255, 0, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 0, 0, 0);
}

.resume_btn {
    background: rgba(54, 255, 0, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(54, 255, 0, 0);
}

.credits_icon {
    padding-left: 10px;
    border-left: 3px solid black;
}

.before_credits_icon {
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.vert_center {
    background-color: #e5e5e5;
    padding: 30px;
    height: 100vh;
    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.maintain_btn {
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.18);
}

.maintain_logo {
    font-size: 40px;
}

.maintain_para {
    font-size: 18px;
}

.maintanance_pannel {
    text-align: left;
}

.nav_name_holder {
    padding-top: 60px;
    display: flex;
}

.view-button {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 3px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    padding: 8px;
    position: absolute;
    width: max-content;
    height: max-content;
    transform: translate3d(-50%, -50%, 0);
}

.view-button:hover {
    cursor: pointer;
    transition: 300ms;
    border: 3px solid white;
    color: white;
}



#about_me_img {
    height: 200px;
    padding-bottom: 20px;
}

#about_me_para {
    font-size: 18px;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    border-radius: 25px;
    /* Center slide vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:hover {
    cursor: pointer;
    transition: 300ms;
}

.card_img {
    height: 160px;
}

.nav_ctrl_list {
    padding-bottom: 40px;
    display: flex;
}

.nav_ctrl {
    flex: 1;
    display: flex;
    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
}

.ctrl_name {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.ctrl_icons {
    width: 35px;
}

.hide_desktop {
    display: none;
}

.hide_mobile {
    display: flex;
}


.nav_bot_title {
    line-height: 1;
    flex: 1;
}

.project_holder {
    display: flex;
    flex-direction: row;
}

.project_para {
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 20px;
}

.project_title {
    line-height: 1;
    padding-bottom: 10px;
}

.project_tech_img {
    height: 30px;
}

.project_title_sub {
    line-height: 1;
    padding-bottom: 10px;
    //color: grey;
}

.edu_title {
    padding-bottom: 5px;
}

.pill {
    line-height: 0;
    padding: 20px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.25);
    color: white;
}

.project_img {
    text-align: center;
}

.card_me {
    height: 160px;
}

#item_div_0 {
    display: none;
}

#item_div_1 {
    display: none;
}

#item_div_2 {
    display: none;
}

#item_div_3 {
    display: none;
}

#item_div_4 {
    display: none;
}

.hamburger_bot {
    width: 50px;
    height: 20px;
    position: relative;
    margin: 25px auto;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    background-color: transparent;
    transform: scale(0.9);
}

.hamburger_bot span {
    z-index: 3;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .25s ease-in-out;
}

.hamburger_bot span:nth-child(1) {
    top: 14px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.hamburger_bot span:nth-child(2) {
    opacity: 0;
}

.hamburger_bot span:nth-child(3) {
    top: 14px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

button {
    color: black;
}

#maintanance_section {
    line-height: 1;
    font-size: 20px;
    color: grey;
    text-align: center;
    padding-top: 20px;
}

.top {
    display: flex;
    padding-bottom: 15px;
}

.close_image {
    height: 24px;
}

.close_image:hover {
    cursor: pointer;
    transition: 300ms;
}

.circle_cut {
    clip-path: circle(50%);
}

#nav_name {
    flex: 0.9;
}

.model_btn_icons {
    height: 11px;
}

.model_btn_icons_down {
    height: 12px;
    transform: rotate(-90deg);
}

.bottom_nav_icon {
    height: 18px;
    padding-right: 10px;
}


@media only screen and (max-width: 1300px) {
    .nav_side_holder {
        width: 60%;
    }
    
    #nav_name {
        flex: 0.8;
        font-size: 37px;
    }
}

@media only screen and (max-width: 800px) {
    .img_wrapper {
        width: 50vh;
    }

    .name {
        font-size: 65px;
    }

    .name_2 {
        font-size: 70px;
    }

    .space {
        padding-left: 35px;
        padding-right: 35px;
    }

    .main_img {
        width: 45%;
    }

    .skill_img {
        height: 40px;
    }

    .skill_txt {
        font-size: 25px;
        padding-bottom: 0px;
    }

    .small_txt {
        font-size: 12px;
    }

    .nav_name {
        font-size: 40px;
    }

    .nav_small_txt {
        font-size: 10px;
        padding-top: 35px;
    }

    .nav_icons {
        width: 35px;
    }

    .nav_side_holder {
        width: 85%;
    }
    
    .nav {
        padding: 30px;
    }
    
    .reload_holder {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #nav_name {
        flex: 0.8;
        font-size: 37px;
    }
    
    #hamburger {
        margin: 26px auto;
    }
    
    .nav_bot {
        height: 60vh;
    }
    
    .card_img {
        height: 100%;
        width: 100%;
    }
    
    .nav_bot_0 {
        height: 50vh;
    }
    
    .nav_bot_1 {
        height: 50vh;
    }
    
    .nav_bot_2 {
        height: 35vh;
    }
    
    .nav_bot_3 {
        height: 50vh;
    }
    
    .nav_bot_4 {
        height: 20vh;
    }
    
    .project_holder {
        flex-direction: column;
    }
    
    .project_title {
        padding-top: 10px;
        font-size: 20px;
    }
    
    .project_tech_img {
        padding-top: 5px;
    }
    
    .project_title_sub {
        font-size: 14px;
    }
    
    .project_para {
        font-size: 15px;
    }
    
    .pill {
        font-size: 14px;
    }
    
    .flex_1 {
        padding-left: 0px;
    }

    .ctrl_name {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 15px;
    }

    .ctrl_icons {
        width: 25px;
    }

    .hide_desktop {
        display: flex;
    }
    
    .hide_mobile {
        display: none;
    }
}