@import url('https://fonts.googleapis.com/css2?family=Lato&family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #282828;
}

footer {
    background-color: black; 
    color: white;
}

model-viewer {
    height: 100%;
    width: 100%;
    border-radius: 30px;
    margin: 0 auto;
}

h1 {
    position: relative;
    font-family: Lato, sans-serif;
    font-size: 40px;
    font-weight: bold;
    overflow: hidden;
}

.hi {
    display: inline-block;
}

h1 .text {
    font-family: 'Source Code Pro', sans-serif;
    font-weight: normal;
    padding-left: 10px;
}

h1 .box {
    position: absolute;
    bottom: 0;
    display: inline-block;
    background: green;
    height: 1vw;
}

.flex_1 {
    flex: 1;
}

.flex_right {
    display: flex;
    text-align: right;
}

.glass_dark {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.glass_light {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.flex_container_nav {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    position: fixed;
    z-index: 10;

    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex_container_reverse {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.flex_container_reverse_card {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.flex_img_holder {
    text-align: center;
    flex: 0.3;
}

#top_section {
    padding: 60px;
    padding-top: 30px;
    background-color: #282828;
    color: white;
    padding-bottom: 30px;
}

#call_to_action {
    font-size: 18px;
    padding: 14px;
    color: black;
    border-radius: 25px;
    border: 3px solid black;
    background-color: transparent;
}

#call_to_action_2 {
    font-size: 18px;
    padding: 14px;
    color: black;
    border-radius: 25px;
    border: 3px solid black;
    background-color: transparent;
}

#call_to_action_3 {
    font-size: 18px;
    padding: 14px;
    color: black;
    border-radius: 25px;
    border: 3px solid black;
    background-color: transparent;
}

#call_to_action:hover {
    cursor: pointer;
    border: 3px solid transparent;
    transition: 300ms;
}

#call_to_action_2:hover {
    cursor: pointer;
    border: 3px solid transparent;
    transition: 300ms;
}

#call_to_action_3:hover {
    cursor: pointer;
    border: 3px solid transparent;
    transition: 300ms;
}

#intro_para {
    font-size: 18px;
}

.icon {
    height: 50px;
}

.icon:hover {
    cursor: pointer;
    transition: 0.5s;
}

.person {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 280px;
}

.container {
    border-radius: 50%;
    height: 312px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 400px;
}

.container:after {
    content: "";
    height: 10px;
    position: absolute;
    top: 390px;
    width: 100%;
}

.container:hover {
    transform: scale(0.54);
    cursor: pointer;
}

.container-inner {
    clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
        );
    position: relative;
    transform-origin: 50%;
    top: -200px;
}

.circle {
    background-color: #fee7d3;
    border-radius: 50%;
    cursor: pointer;
    height: 380px;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 210px;
    width: 380px;
}

.img {
    pointer-events: none;
    position: relative;
    transform: translateY(20px) scale(1.15);
    transform-origin: 50% bottom;
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container:hover .img {
    transform: translateY(0) scale(1.2);
}

.img2 {
    top: 174px;
    width: 444px;
}

#cert_header {
    font-size: 18px;
    color: grey;
    padding-bottom: 10px;
}

.company_logos {
    height: 30px;
    padding-right: 10px;
}

#copyright {
    font-size: 10px;
    color: grey;
}

#cert_holder {
    padding-bottom: 5px;
}

#nav_name {
    font-size: 35px;
    color: black;
}

#nav_qual {
    font-size: 12px;
}

.flex_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

#show_mobile {
    display: none;
}

#section_2 {
    padding: 60px;
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    color: white;
    height: 100vh;

    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#section_3 {
    background-color: white;
    color: white;
    height: 100vh;

    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

#section_4 {
    padding-top: 100px;
    padding-left: 150px;
    padding-right: 150px;
    background: linear-gradient(360deg, #93C3EB, white 100%); 
    color: black;
    text-align: center;
    height: 30vh;
    
    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex_model_card {
    flex: 1;
    padding: 50px;
}

.flex_model {
    flex: 1;
}

.main_emoji {
    font-size: 40px;
    padding-bottom: 10px;
}

.emoji_qoute {
    font-size: 25px;
    padding-bottom: 20px;
}

.card_txt {
    font-size: 20px;
}

#credits_vid {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#credits_txt {
    text-align: center;
    font-size: 200px;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    background-color: #000;
    color: #fff;
    mix-blend-mode: multiply;
    user-select: none;
}

#video_txt_holder {
    height: 80%;
    position: relative;
}

.container_tl {
    max-width: 40%;
    margin: 0 auto;
    position: relative;
}

.leftbox {
    top: -5%;
    left: 5%;
    position: absolute;
    width: 15%;
    height: 110%;
    background-color: #50d890;
    z-index: 5;
}

nav {
    margin: 2.6em auto;
}

nav a {
    list-style: none;
    padding: 35px;
    color: #232931;
    font-size: 1.1em;
    display: block;
    transition: all 0.5s ease-in-out;
}

.rightbox {
    padding-right: 90%;
    z-index: 1;
}

.rb-container {
    font-family: "PT Sans", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
}

.rb-container ul.rb {
    margin: 2.5em 0;
    display: inline-block;
}

.rb-container ul.rb li {
    list-style: none;
    margin: auto;
    margin-left: 10em;
    min-height: 50px;
    border-left: 1px dashed #fff;
    padding: 0 0 50px 30px;
    position: relative;
}

.rb-container ul.rb li:last-child {
    border-left: 0;
}

.rb-container ul.rb li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid white;
    border-radius: 500%;
    background: #50d890;
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
    border-color: black;
    transition: all 300ms ease-in-out;
}

.rb-container ul.rb li:hover {
    cursor: pointer;
}

ul.rb li .timestamp {
    color: #50d890;
    position: relative;
    width: 100px;
    font-size: 12px;
}

.item-title {
    color: white;
}

#model_viewer_card {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    margin: 0 auto;
}

#model_large {
    width: 70%;
    height: 90%;
}

#projects_title {
    font-size: 50px;
    text-align: center;
    padding-bottom: 30px;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    border-radius: 25px;

    /* Center slide vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.model_card {
    max-height: 100%;
    min-width: 90%;
}

.honors_class {
    padding: 10px;
    font-size: 15px;
}

.edu_header {
    font-size: 40px;
}

.edu_header_sub {
    font-size: 15px;
    padding-bottom: 15px;
}

.edu_lbl {
    font-size: 25px;
}

#section_5 {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #98989C;
    color: white;
}

.project_card {
    border-radius: 25px;
    color: black;
}

.project_card:hover {
    cursor: pointer;
}

.card_img {
    height: 150px;
}

.card_text_div {
    position: absolute;
    top 0;
    left: 0;
    background-color: cadetblue;
}

.icon_mini {
    height: 15px;
}

.icon_mini_2 {
    height: 15px;
}

.icon_holder {
    padding-left: 20px;
    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.scroll_down {
    height: 50px;
}

.scroll_down_holder {
    text-align: center;
    padding-top: 20px;
}

#section_6 {
    background-color: #F6E4AD;
    padding: 60px;
    height: 70vh;
}

.intro_skills_holder {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.skill_card {
    padding: 20px;
    text-align: center;
}

.skill_card:hover {
    cursor: pointer;
}

.intro_skills_seperate {
    padding: 5px;
}

.skill_card_title {
    font-size: 20px;
    padding-bottom: 10px;
}

.skill_card_icon {
    height: 40px;
}

#credits:hover {
    cursor: pointer;
}

#header_4 {
    font-size: 50px;
}

#para_4 {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#section_7 {
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #98989C;
}

.center_me {
    text-align: center;
    padding-top: 20px;
}

.tech_card {
    padding: 15px;
    text-align: center;
}

.tech_card_img {
    height: 80px;
}

.header_tech {
    font-size: 35px;
    padding: 20px;
    text-align: center;
}

.mid1 {
    background-color: #F6E4AD;
}

.mid2 {
    background-color: #F6E4AD;
}



.mid3 {
    background-color: #98989C;
}

.custom-shape-divider-top-1653743536 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1653743536 svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 93px;
}

.custom-shape-divider-top-1653743536 .shape-fill {
    fill: #87E0FF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1653743536 svg {
        width: calc(137% + 1.3px);
        height: 71px;
    }
}

.custom-shape-divider-bottom-1653743772 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653743772 svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 93px;
}

.custom-shape-divider-bottom-1653743772 .shape-fill {
    fill: #87E0FF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1653743772 svg {
        width: calc(137% + 1.3px);
        height: 71px;
    }
}

.custom-shape-divider-bottom-1653745842 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1653745842 svg {
    display: block;
    width: calc(100% + 1.3px);
    height: 136px;
}

.custom-shape-divider-bottom-1653745842 .shape-fill {
    fill: #e5e5e5;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1653745842 svg {
        width: calc(100% + 1.3px);
        height: 60px;
    }
}

#section_8 {
    background-color: #e5e5e5;
    color: black;
    height: 100vh;
}

.project_holder {
    display: flex;
}

.project_img {
    max-height: 100%;
    max-width: 100%;
    margin: auto 0;
}

.project_right {
    flex: 1;
}

.project_left {
    flex: 1;
}

.project_title {
    font-size: 70px;
}

.project_tech {
    padding-right: 20px;
    text-align: center;
}

.project_tech_desc {
    font-size: 18px;
    padding-top: 20px;
}

.project_tech_holder {
    display: flex;
    padding-top: 20px;
}

.project_btn_holder {
    text-align: center;
    padding-top: 40px;
}

.project_tech_img {
    height: 60px;
}

.project_holder_holder {
    height: 100vh;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;

    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.project_holder_reverse {
    display: flex;
    flex-direction: row-reverse;
}

#project_img_3 {
    padding-top: 100px;
}

.last_card {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: black;
}

.mid_txt {
    /* Center slide vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper1 {
    background-color: cadetblue;
}

.secondtolast_card {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.fr_card {
    text-align: center;
    background-color: black;

    /* Center slide vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.lang_em {
    font-size: 100px;
}

.lang_lbl {
    font-size: 50px;
}

.en_card {
    text-align: center;
    background-color: #e5e5e5;
    color: black;

    /* Center slide vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.edu_item {
    height: 100vh;
    width: 100%;
    position: absolute;
}

.edu_item_center {
    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.mid4 {
    background: linear-gradient(360deg, rgba(165, 204, 253, 1), black 100%);
}

svg{
    display: block;
    height: 100%;
    width: 100%;
}

.svg_holder {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.mid_5 {
    height: 20vh;
    background: linear-gradient(360deg, black 30%, #e5e5e5 80%);
}

.custom-shape-divider-bottom-1654225203 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1654225203 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1654225203 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1654225203 svg {
        width: calc(125% + 1.3px);
        height: 62px;
    }
}

#last_img {
    width: 100%;
    height: 10%;
}

.edu_logo {
    height: 300px;
}

.edu_story_holder {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

#key_model {
    height: 40vh;
    width: 80vh;
}

.key_model_holder {
    padding-bottom: 30px;
    padding-top: 30px;
}

#edu_story_title {
    font-size: 40px;
}

#edu_story_para {
    font-size: 20px;
}

.edu_img_holder {
    flex: 1;
    text-align: left;   
    margin: auto; 
}

.grey {
    color: grey;
    font-size: 10px;
}

.footer_name_title {
    font-size: 15px;
}

.footer_holder {
    display: flex;
    padding: 30px;
}

.footer1{
    padding: 10px;
}

.center {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #282828;
}

.footer_headers {
    padding-bottom: 5px;
}

#footer_list {
    list-style: none;
}

.footer_list_item {
    font-size: 15px;
    padding-top: 10px;
    border-bottom: 2px solid transparent;
}

.footer_list_item:hover {
    cursor: pointer;
    border-bottom: 2px solid white;
    transition: 300ms;
}

.footer_icons {
    height: 60px;
}

.footer_icons:hover {
    cursor: pointer;
}

#footer_img {
    height: 20%;
}

#fancy_txt_3 {
    color: black;
}

.edu_txt_holder {
    width: 80vh;
    text-align: center;
}

#fancy_txt_4 {
    color: black;
}

.mid_6 {
    height: 20vh;
    background: linear-gradient(360deg, #e5e5e5 30%, white 80%);
}

#space {
    padding-left: 10px;
}

#footer_logo {
    height: 70px;
}

#footer_logo_holder {
    padding-bottom: 30px;
}

#fancy_txt_5 {
    color: black;
    text-align: center;
}

.project_center {
    text-align: center;
    display: flex;
}

.full_screen {
    height: 100%;
    width: 100%;
    margin: auto 0;
    position: absolute;
}

.center_hori {
    width: 100%;
    height: 100vh;
    text-align: center;
    
    /* Center vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex_holder {
    display: flex;
    padding: 250px;
}

.circle_item {
    padding: 50px;
}




@media only screen and (max-width: 1100px) { 
    .flex_container {
        width: 90%;
        flex-direction: column;
    }

    .flex_container_nav {
        text-align: center;
        padding: 10px;
    }

    .flex_right {
        flex: 0.2;
    }

    .flex_container_normal {
        padding: 25px;
        flex-direction: column;
    }

    .flex_container_dark {
        padding: 25px;
        flex-direction: column;
    }

    .flex_container_reverse {
        padding: 0px;
        flex-direction: column;
        width: 100%;
    }

    .flex_container_card {
        padding: 25px;
        flex-direction: column;
    }
   
    #mobile_back {
        transform: translate(-20px, -60px) scale(1.3);
    }
    
    .edu_logo {
        height: 210px;
    }
    
    .edu_txt_holder {
        width: 40vh;
    }

    #intro_para {
        font-size: 14px;
    }

    #top_section {
        padding: 20px;
    }

    .flex_img_holder {
        flex: 1;
    }
    
    #nav_name {
        text-align: left;
        padding-left: 10px;
    }

    .icon {
        height: 30px;
    }
    
    .icon_holder{
        display: none;
    }
    
    .intro_skills_holder {
        flex-direction: row;
        padding: 0px;
        padding-bottom: 10px;
    }
    
    .hide_mobile {
        display: none;
    }
    
    .skill_card {
        padding: 10px;
    }
    
    .person {
        transform: scale(0.8);
    }
    
    .container{
        height: 80px;
    }
    
    .flex_model_card {
        padding: 0px;
    }
    
    .card_txt {
        font-size: 16px;
    }
    
    .flex_container_reverse_card {
        width: 90%;
        flex-direction: row-reverse;
    }
    
    .secondtolast_card {
        display: flex;
        flex-direction: column;
    }
    
    .lang_em {
        font-size: 80px;
    }
    
    .lang_lbl {
        font-size: 25px;
    }
    
    .project_title {
        font-size: 35px;
    }
    
    .project_tech_desc{
        font-size: 15px;
    }
    
    .center_hori {
        width: 100%;
    }
    
    .project_tech_img{
        height: 35px;
    }
    
    #header_4{
        font-size: 35px;
    }
    
    #para_4 {
        font-size: 17px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    #section_2 {
        padding: 20px;
    }
    
    #section_6 {
        padding: 20px;
    }
    
    model-viewer {
        height: 400px;
        width: 400px;
    }
    
    .flex_model {
        padding-top: 20px;
    }

    .footer_holder {
        flex-direction: column;
        padding: 10px;
        padding-top: 20px;
    }
    
    #footer_logo {
        height: 50px;
    }
    
    .footer_icons {
        height: 40px;
    }
    
    .footer1{
        padding-bottom: 20px;
    }
    
    .footer_headers {
        font-size: 20px;
    }
}


@media only screen and (max-width: 700px) { 
    .flex_container {
        width: 90%;
        flex-direction: column;
    }

    .flex_container_nav {
        text-align: center;
        padding: 10px;
    }

    .flex_right {
        flex: 0.5;
    }

    .flex_container_normal {
        padding: 25px;
        flex-direction: column;
    }

    .flex_container_dark {
        padding: 25px;
        flex-direction: column;
    }

    .flex_container_reverse {
        padding: 0px;
        flex-direction: column;
        width: 100%;
    }

    .flex_container_card {
        padding: 25px;
        flex-direction: column;
    }

    #fancy_txt {
        font-size: 18px;
    }
    
    #fancy_txt_2 {
        font-size: 20px;
    }
    
    #fancy_txt_3 {
        font-size: 18px;
    }
    
    #mobile_back {
        transform: translate(-80px, -140px) scale(2.0);
    }
    
    .edu_img_holder {
        flex: 0.5;
        padding-top: 120px;
    }
    .edu_extra_padding_mobile{
        padding-top: 110px;
    }
    
    .edu_logo {
        height: 160px;
    }
    
    .edu_txt_holder {
        width: 40vh;
    }
    
    #fancy_txt_4 {
        font-size: 18px;
    }   
    
    .intro_skills_seperate {
        padding-top: 10px;
    }

    #intro_para {
        font-size: 14px;
    }

    #top_section {
        padding: 20px;
        height: 80vh;
    }

    #call_to_action {
        font-size: 10px;
        padding: 10px;
    }
    
    #call_to_action_2 {
        font-size: 18px;
        padding: 10px;
    }


    .flex_img_holder {
        flex: 1;
    }

    #cert_header {
        font-size: 12px;
        padding-bottom: 5px;
    }

    .company_logos {
        height: 20px;
        padding-right: 10px;
    }

    #copyright {
        font-size: 8px;
    }

    #cert_holder {
        padding-bottom: 5px;
    }

    #nav_name {
        font-size: 25px;
        text-align: left;
        padding-left: 10px;
    }

    #nav_qual {
        font-size: 8px;
    }

    .icon {
        height: 30px;
    }
    
    .icon_holder{
        display: none;
    }
    
    .intro_skills_holder {
        flex-direction: column;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    
    .hide_mobile {
        display: none;
    }
    
    .skill_card_icon {
        height: 30px;
    }
    
    .skill_card_title {
        font-size: 15px;
        padding-bottom: 5px;
    }
    
    .skill_card {
        padding: 10px;
    }
    
    .person {
        transform: scale(0.8);
    }
    
    .container{
        height: 90px;
    }
    
    .scroll_down{
        display: none;
    }
    
    .flex_model_card {
        padding: 0px;
    }
    
    .card_txt {
        font-size: 16px;
    }
    
    .flex_container_reverse_card {
        width: 90%;
        flex-direction: column;
    }
    
    .edu_header {
        font-size: 20px;
    }
    
    .edu_header_sub{
        font-size: 10px;
    }
    
    .edu_lbl{
        font-size: 17px;
    }
    
    .honors_class{
        font-size: 12px;
    }
    
    .secondtolast_card {
        display: flex;
        flex-direction: column;
    }
    
    .lang_em {
        font-size: 60px;
    }
    
    .lang_lbl {
        font-size: 25px;
    }
    
    .tech_card_img {
        height: 70px;
    }
    
    .card_img {
        height: 140px;
    }
    
    .project_holder_holder {
        padding: 20px;
    }
    
    .project_title {
        padding-top: 20px;
        font-size: 25px;
    }
    
    .project_holder {
        flex-direction: column-reverse;
    }
    
    .project_holder_reverse {
        flex-direction: column-reverse;
    }
    
    .project_tech_desc{
        font-size: 15px;
        padding-top: 20px;
    }
    
    .header_tech {
        font-size: 25px;
        padding: 10px;
        padding-bottom: 20px;
    }
    
    .project_tech_img{
        height: 35px;
    }
    
    .icon_mini{
        height: 10px;
    }
    
    .icon_mini_2{
        height: 14px;
    }
    
    .icon_mini_3{
        height: 15px;
    }
    
    #section_4 {
        padding: 20px;
        height: 40vh;
    }
    
    #header_4{
        font-size: 25px;
    }
    
    #para_4 {
        font-size: 17px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    #section_2 {
        padding: 20px;
    }
    
    #section_6 {
        padding: 20px;
        height: 62vh;
    }
    
    model-viewer {
        height: 300px;
        width: 350px;
    }
    
    .flex_model {
        padding-top: 20px;
    }
    
    .tech_card_lbl {
        font-size:18px;
    }
    
    h1 .text {
        padding-left: 2px;
    }

    .footer_holder {
        flex-direction: column;
        padding: 10px;
        padding-top: 20px;
    }
    
    #footer_logo {
        height: 50px;
    }
    
    .footer_icons {
        height: 40px;
    }
    
    .footer1{
        padding-bottom: 20px;
    }
    
    .footer_headers {
        font-size: 20px;
    }

}



